---
import Layout from '@layouts/Layout.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import { getPosts } from '@services/posts';

export async function getStaticPaths({ paginate }) {
  const data = await getPosts();
  const filterData = data.filter((post) => post.sections.includes('blog'));
  const posts = filterData.sort((a, b) => a.order - b.order);

  return paginate(posts, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Layout
  title="Hatha Yoga Lobería | Blog"
  slug="posts"
>
  <header class="relative overflow-hidden px-4 lg:px-24">
    <h1 class="text-5xl font-dancing text-primary text-center pt-24">
      Bienvenidos al Blog!
    </h1>
    <section class="mt-24 w-full md:w-3/4 mx-auto">
      <div class="text-lg text-slate-950">
        <p class="paragraph">
          ¡Bienvenidos a nuestro blog de yoga y shiatsu! En este espacio,
          compartimos información y reflexiones sobre yoga y shiatsu.
        </p>
        <p class="paragraph pt-8">
          La difusión de estas prácticas es fundamental para nosotros. Creemos
          en los beneficios transformadores que el yoga y el shiatsu pueden
          aportar a la vida de las personas.
        </p>
        <p class="paragraph pt-8">
          Este blog es un recurso que les brindará información valiosa,
          inspiración y consejos prácticos para mejorar su práctica de yoga y
          shiatsu. Estamos emocionados de ser parte de su viaje de difusión de
          yoga y esperamos verlos en nuestras clases pronto.
        </p>
      </div>
    </section>
  </header>
  <main>
    <div class="px-4 lg:px-16 my-20 w-full mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          page.data.map((post) => (
            <article class="w-full h-fit shadow mx-auto max-w-[300px] lg:max-w-none">
              <p class="text-sm text-slate-700">
                {post.createdAt.split(' ')[0]}
              </p>
              <a
                class="flex-none relative flex justify-center group overflow-hidden"
                href={`/hathayogaloberia/blog/${post.slug}/`}
              >
                <img
                  transition:name={post.image}
                  class="w-full h-[200px] group-hover:scale-110 transition duration-500 object-cover"
                  src={post.image}
                  alt={post.altImage}
                />
                <div class="absolute bg-black w-full h-full opacity-0 transition-opacity duration-500 group-hover:opacity-30" />
              </a>
              <div class="px-4 flex flex-col">
                <a href={`/hathayogaloberia/blog/${post.slug}/`}>
                  <h2
                    class="flex-none text-lg font-medium text-primary font-title pt-4 line-clamp-1"
                    transition:name={post.title}
                  >
                    {post.title}
                  </h2>
                </a>
                <p
                  class="text-sm line-clamp-3 pt-4"
                  transition:name={post.excerpt}
                >
                  {post.excerpt}{' '}
                </p>
                <a
                  class="flex-none text-primary py-4"
                  href={`/hathayogaloberia/blog/${post.slug}/`}
                >
                  Leer más...
                </a>
              </div>
            </article>
          ))
        }
      </div>

      {
        page.total > page.size ? (
          <div class="py-20">
            <Pagination
              length={page.lastPage}
              firstPage="1"
              lastPage={page.lastPage}
              currentPage={page.currentPage}
            />
          </div>
        ) : null
      }
    </div>
  </main>
</Layout>
