---
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../services/posts';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map(
    ({ slug, title, content, image, altImage, excerpt, createdAt }) => {
      return {
        params: { slug },
        props: {
          title,
          slug,
          content,
          image,
          altImage,
          description: excerpt,
          excerpt,
          createdAt,
        },
      };
    }
  );
}
const {
  title,
  content,
  image,
  altImage,
  slug,
  description,
  excerpt,
  createdAt,
} = Astro.props;
---

<Layout
  title={title}
  {description}
  {slug}
  {image}
>
  <section class="mt-8 px-4 lg:px-16">
    <h2
      class="text-3xl text-center"
      transition:name={title}
    >
      {title}
    </h2>
    <p
      class="pt-8 text-base"
      transition:name={excerpt}
    >
      {excerpt}
    </p>

    <div class="w-full lg:w-2/3 mx-auto pt-8">
      <img
        transition:name={image}
        class="w-full h-full"
        src={image}
        alt={altImage}
      />
      <figcaption><small>{createdAt.split(' ')[0]}</small></figcaption>
    </div>

    <div id="content">
      <Fragment set:html={content} />
    </div>
  </section>
</Layout>

<style is:inline>
  #content h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  #content img,
  #content svg {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  #content a {
    text-decoration: none;
  }
  #content a:link,
  #content a {
    text-decoration: underline;
    cursor: pointer;
  }
  #content a:visited {
    text-decoration: underline;
    cursor: pointer;
  }
  #content a:active {
    color: var(--primary-color);
  }
  #content div {
    padding: 0;
    margin: 0;
  }
  #content h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  #content h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #content h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #content h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #content h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #content h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #content ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  #content ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  #content li {
    display: list-item;
    margin-bottom: 1em;
  }
  #content p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
</style>
