---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon';
import { getLessons } from '@services/lessons';
import { getNetworks } from '@services/networks';
import clasesPresenciales from '@assets/images/clases/clases-presenciales.png';

const networks = await getNetworks();
const data = await getLessons();
const lessons = data.sort((a, b) => a.order - b.order);
---

<!-- https://www.svgrepo.com/svg/269773/yoga -->
<Layout
  title="Hatha Yoga Lobería | Blog"
  slug="nuestras-clases"
>
  <header class="relative overflow-hidden px-4 lg:px-16">
    <h1 class="text-5xl font-dancing text-primary text-center pt-20">
      Nuestras Clases
    </h1>

    <p class="pt-24">
      El yoga es una práctica que involucra la unión del cuerpo, la mente y el
      espíritu a través de la realización de posturas, ejercicios de respiración
      y meditación. Las clases de yoga pueden variar en estilo y enfoque,
      podemos dividir nuestras clases en las siguientes etapas:
    </p>

    <ul class="py-8 space-y-12 sm:space-y-2">
      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="preparacion"
          class="w-[130px] h-[130px] text-[#082f49]"
        />

        <span>
          Preparación: La mayoría de las clases de yoga comienzan con un breve
          momento de relajación o meditación, donde los estudiantes se sientan
          en una posición cómoda y se enfocan en la respiración para dejar atrás
          las distracciones y conectarse con el momento presente.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="calentamiento"
          class="w-[130px] h-[130px] text-[#082f49]"
        />
        <span>
          Calentamiento: A continuación, el instructor guía a los estudiantes a
          través de una serie de ejercicios de calentamiento, que pueden incluir
          movimientos suaves para estirar y flexionar el cuerpo. Esto ayuda a
          preparar los músculos y las articulaciones para las posturas más
          intensas que vendrán después.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="asanas"
          class="w-[130px] h-[130px] text-[#082f49]"
        />

        <span>
          Asanas (posturas): El núcleo de la clase de yoga son las asanas, o
          posturas de yoga. El instructor guía a los estudiantes a través de una
          serie de posturas que pueden variar en dificultad. Cada asana se lleva
          a cabo con una atención plena en la respiración y en la alineación del
          cuerpo.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="respiracion"
          class="w-[100px] h-[100px] text-[#082f49]"
        />
        <span>
          Respiración: En el yoga, la respiración desempeña un papel
          fundamental. Los estudiantes aprenden a coordinar su respiración con
          el movimiento y a utilizar la respiración consciente para profundizar
          en las posturas y liberar tensiones.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="relajacion"
          class="w-[120px] h-[120px] text-[#082f49]"
        />
        <span>
          Relajación: Después de realizar una serie de posturas, la clase
          generalmente incluye un período de relajación o "Savasana", donde los
          estudiantes se acuestan en el suelo en posición de relajación total.
          Durante este tiempo, se les anima a liberar cualquier tensión restante
          y a relajarse profundamente.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="meditacion"
          class="w-[80px] h-[80px] text-[#082f49]"
        />

        <span>
          Meditación: Algunas clases de yoga incluyen una meditación guiada al
          final, donde los estudiantes pueden profundizar su práctica de
          atención plena y encontrar un estado de tranquilidad mental.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <Icon
          name="cierre"
          class="w-[110px] h-[110px] text-[#082f49]"
        />

        <span>
          Cierre: La clase concluye con un agradecimiento por la práctica y una
          reverencia tradicional llamada "Namaste". Los estudiantes suelen
          juntar las manos en el pecho y dicen "Namaste" como un gesto de
          respeto y gratitud hacia el instructor y los demás participantes.
        </span>
      </li>
    </ul>
  </header>

  <section class="py-8 bg-slate-100">
    <div class="container mx-auto px-4 lg:px-16">
      <h3 class="text-2xl text-center text-primary">Clases presenciales</h3>
      <article class="flex flex-col md:flex-row items-center py-8 gap-8">
        <div class="mx-auto w-full md:w-1/3 h-[300px]">
          <img
            class="w-full h-full object-contain"
            src={clasesPresenciales.src}
            alt="Imagen clases presenciales"
          />
        </div>
        <div class="w-full md:w-2/3">
          <p>
            Sumérgete en la tranquilidad y revitaliza tu cuerpo y mente con
            nuestras clases de yoga y sesiones de shiatsu.
          </p>
          <p class="py-4">
            Nuestros instructores te guiarán a través de prácticas que promueven
            la armonía y el bienestar.
          </p>
          <table
            class="w-fit bg-slate-50 border border-gray-300 rounded-lg shadow text-center mx-auto"
          >
            <thead class="bg-teal-50 text-base font-normal">
              <tr>
                <th class="py-2 px-4">Clase</th>
                <th class="py-2 px-4">Días</th>
                <th class="py-2 px-4">Horarios</th>
              </tr>
            </thead>
            <tbody>
              {
                lessons.map((lesson) => (
                  <tr class="bg-transparent border-b border-gray-300">
                    <td class="py-2 px-4">{lesson.type}</td>
                    <td class="py-2 px-4">{lesson.days}</td>
                    <td class="py-2 px-4">{lesson.hours}</td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </article>

      <h3 class="text-2xl text-center text-primary py-8">Clases on-line</h3>
      <p>
        ¿Estás interesado en practicar yoga de forma conveniente y efectiva
        desde la comodidad de tu hogar? Ofrezco clases en línea personalizadas
        para ayudarte a alcanzar tus objetivos.
      </p>
      <p class="pt-8">
        Si estás listo para comenzar o tienes alguna pregunta, no dudes en
        contactarme. Estoy aquí para ayudarte a aprender y crecer juntos en esta
        emocionante aventura de aprendizaje en línea. ¡Contactame por
        <a
          href={networks.whatsapp}
          aria-label="Whatsapp"
          rel="noopener"
          target="_blank"
        >
          <Icon
            name="mdi:whatsapp"
            class="w-[24px] text-[#25D366] inline-block"
          />
        </a>
         o
        <a
          href="/hathayogaloberia/contacto#contact-form"
          class="underline"
          >enviame un mensaje</a
        >!
      </p>
    </div>
  </section>
</Layout>
