---
import Layout from '../layouts/Layout.astro';
import { getLessons } from '../services/lessons';
import { getNetworks } from '../services/networks';
import clasesPresenciales from '../assets/images/clases/clases-presenciales.png';
// import { Image } from 'astro:assets';

const networks = await getNetworks();
const data = await getLessons();
const lessons = data.sort((a, b) => a.order - b.order);
---

<!-- https://www.svgrepo.com/svg/269773/yoga -->
<Layout
  title="Hatha Yoga Lobería | Blog"
  slug="nuestras-clases"
>
  <!-- <div class="rect-left"></div> -->
  <header class="relative overflow-hidden px-4 lg:px-16">
    <h1 class="text-4xl text-center text-primary font-semibold mt-8">
      Nuestras Clases
    </h1>

    <p class="pt-8">
      El yoga es una práctica que involucra la unión del cuerpo, la mente y el
      espíritu a través de la realización de posturas, ejercicios de respiración
      y meditación. Las clases de yoga pueden variar en estilo y enfoque,
      podemos dividir nuestras clases en las siguientes etapas:
    </p>

    <ul class="py-8 space-y-12 sm:space-y-2">
      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-25.6 -25.6 307.20 307.20"
          enable-background="new 0 0 256 173"
          xml:space="preserve"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-25.6, -25.6), scale(9.6)"
              d="M16,29.674543144647032C18.18276729314042,30.357027566093606,20.663789755045787,29.80699463454869,22.699856963028395,28.765510901551043C24.74256300771353,27.720631288297277,26.591755399326036,26.00940566880463,27.378692499879072,23.854144341039547C28.138839561540696,21.772255503593453,26.50591531287778,19.50566659796195,26.878557668504246,17.320896046707517C27.27811033161976,14.97835264317376,29.697801776853673,13.217262102555956,29.597922261821047,10.842988316633393C29.494433861019168,8.382926340054048,28.046352155645987,6.104898840234561,26.33236611006213,4.3371696151393255C24.566386187576214,2.5158162103358728,22.30616887847233,0.7447845438757609,19.76952908934565,0.7064192987725058C17.225742317154843,0.667945959584241,15.164522007264077,2.684017768467372,13.075952720788198,4.136673844691494C11.496319057591924,5.235351515530037,10.660368027896999,7.100429696729259,9.053874481859818,8.159445098337269C7.09765503863325,9.449003045465203,3.5626327753534346,8.777303164271657,2.719858750708271,10.963506757819584C1.879273860239119,13.144031613221337,4.7965843624918,15.054932615045628,5.541844489120184,17.26984998297783C6.1163117683470345,18.977170029502716,5.550235273163129,21.02442107576863,6.598100278043267,22.489662805899048C7.643748423713362,23.95180467621045,9.760817335726339,24.074973606579757,11.18907928599969,25.166443576328078C12.960993525769187,26.520530745917444,13.871541213344003,29.009039328391,16,29.674543144647032"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <path
              d="M128.253,56.864c15.186,0,27.432-12.247,27.432-27.432S143.536,2,128.253,2 c-15.186,0-27.432,12.247-27.432,27.432C100.918,44.716,113.165,56.864,128.253,56.864z M64.571,136.32h-49.28 c-15.969,0-16.851-24.395,0.294-24.395H58.3l24.493-36.054c7.25-9.895,15.48-14.598,27.138-14.598h36.544 c11.659,0,19.888,4.311,27.138,14.598l24.591,36.054h43.01c17.243,0,16.165,24.395,0.588,24.395h-49.28 c-3.919,0-8.622-1.372-11.365-5.584l-18.811-26.844l-0.098,67.209H94.844l-0.098-67.209l-18.811,26.844 C73.192,134.85,68.49,136.32,64.571,136.32z"
            ></path>
            <g>
              <path
                d="M249.183,52.674h-48.347c-2.678,0-4.837,1.999-4.837,4.457v32.737c0,2.458,2.159,4.457,4.837,4.457h48.327 c2.678,0,4.837-1.999,4.837-4.457V57.131C254.02,54.673,251.861,52.674,249.183,52.674z M249.643,89.309c0,0.3-0.28,0.56-0.6,0.56 h-48.067c-0.34,0-0.6-0.26-0.6-0.56V73.5h49.266V89.309z M249.643,61.588h-49.266v-3.897c0-0.3,0.28-0.56,0.6-0.56h48.047 c0.34,0,0.6,0.26,0.6,0.56v3.897H249.643z"
              ></path>
              <rect
                x="204.554"
                y="82.194"
                width="10.113"
                height="3.957"
              ></rect>
              <rect
                x="218.604"
                y="82.194"
                width="14.63"
                height="3.957"
              ></rect>
            </g>
            <path
              d="M15.763,87.779v4.571c0,2.556-2.064,4.571-4.571,4.571S6.62,94.906,6.62,92.35v-4.571H2V72.836l0,0 c0-3.293,2.212-5.997,5.21-6.832l5.358-12.731c0.786-1.868,2.605-3.195,4.768-3.195h27.378c2.163,0,3.981,1.327,4.768,3.195 l5.308,12.731C57.788,66.84,60,69.543,60,72.836l0,0v14.942h-4.669v4.571c0,2.556-2.064,4.571-4.571,4.571 c-2.556,0-4.571-2.015-4.571-4.571v-4.571H15.763z M11.486,79.57c2.556,0,4.62-2.064,4.62-4.62c0-2.556-2.064-4.62-4.62-4.62 s-4.62,2.064-4.62,4.62S8.931,79.57,11.486,79.57 M54.839,74.95c0-2.556-2.064-4.62-4.62-4.62c-2.556,0-4.62,2.064-4.62,4.62 s2.064,4.62,4.62,4.62S54.839,77.506,54.839,74.95 M50.219,65.758l-4.571-11.01c-0.197-0.541-0.737-0.934-1.376-0.934H17.729 c-0.59,0-1.131,0.393-1.327,0.934l-4.571,11.01H50.219z"
            ></path>
            <g id="shopping_cart"> </g>
            <g id="cross"> </g>
            <g id="leaf"> </g>
          </g></svg
        >

        <span>
          Preparación: La mayoría de las clases de yoga comienzan con un breve
          momento de relajación o meditación, donde los estudiantes se sientan
          en una posición cómoda y se enfocan en la respiración para dejar atrás
          las distracciones y conectarse con el momento presente.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-51.2 -51.2 614.40 614.40"
          xml:space="preserve"
          transform="rotate(0)"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-51.2, -51.2), scale(19.2)"
              d="M16,31.818140095866777C20.336195706148377,31.5291224649371,21.64483911725043,26.05988297372576,24.32309216387062,22.637444513902484C26.94418909883818,19.28804369142298,31.435500565107876,16.797658021730577,31.070366963886983,12.560287083827902C30.670396828956466,7.9186386019664425,26.797518969731193,4.3154071384685615,22.57470875296083,2.3474765982454144C18.419323638195465,0.41096776787944456,13.418720356487608,0.12478214012403699,9.503333968913665,2.509533980064541C5.919006703885646,4.692647010071481,5.127269203368735,9.223831848126324,4.477396591833582,13.370040964100312C3.9011033638275645,17.046811138778413,4.187184289913763,20.6916063439076,6.158742331018715,23.848141104147448C8.51146021050133,27.614926363719388,11.568666588737102,32.11349887835132,16,31.818140095866777"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M361.816,157.046c-17.621-25.124-52.273-31.207-77.397-13.586c-26.702,18.728-31.757,56.527-10.283,81.648l77.586,6.655 C373.872,213.486,378.586,180.958,361.816,157.046z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M477.518,308.999c-0.018,0-0.037,0-0.054,0l-16.253,0.024c9.071-4.976,15.14-14.742,14.792-25.897 c-0.483-15.498-13.706-27.576-29.21-27.576h-99.366l-158.639-36.235l54.842,3.176c-29.481-33.207-79.81-39.77-117.054-13.681 L23.963,279.913C4.406,293.462-4.706,318.142,2.4,340.848c7.033,22.472,27.85,37.77,51.398,37.77c0.018,0,0.037,0,0.054,0 l422.886-0.65c19.081-0.029,35.401-15.661,35.261-34.741C511.861,324.297,496.461,308.999,477.518,308.999z M214.789,309.403 l21.17-11.295l-60.461-26.294l151.5,37.416C306.005,309.262,235.668,309.371,214.789,309.403z"
                ></path>
              </g>
            </g>
          </g></svg
        >
        <span>
          Calentamiento: A continuación, el instructor guía a los estudiantes a
          través de una serie de ejercicios de calentamiento, que pueden incluir
          movimientos suaves para estirar y flexionar el cuerpo. Esto ayuda a
          preparar los músculos y las articulaciones para las posturas más
          intensas que vendrán después.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-51.2 -51.2 614.40 614.40"
          xml:space="preserve"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-51.2, -51.2), scale(19.2)"
              d="M16,27.869471538398003C17.594880970214962,28.201682109717893,18.962531134173627,26.63901886584624,20.50983621773092,26.129257989308748C22.218794590777325,25.566240309429226,24.71148401432021,26.22438075714877,25.651115922291343,24.689903808418403C26.677343411923477,23.01401092564679,23.98104892716181,20.621274238561902,24.934762354987498,18.903080270295746C26.221052717262122,16.58572132638551,31.497721777569694,17.03180507674056,31.371362323146165,14.384404718034093C31.249570784174285,11.832708325923607,26.685728167991897,12.474944199606187,24.56030546807174,11.05770533366336C23.408082963164656,10.289399567365832,22.5610131521072,9.168800229349271,21.80724168640716,8.007017535022658C20.639098320048877,6.206566324963787,20.791994537343783,3.3592522601400168,18.90369146787724,2.3392056915890755C17.21908637020374,1.4291951763116049,15.091820173791351,2.682802817236038,13.327368236491072,3.4262561338473763C11.7035324692567,4.110460708231914,10.57193943981727,5.537484278411886,9.081662812579655,6.477725775511246C7.489955163427687,7.481961872105766,5.043635212227198,7.504767421484546,4.198017827600992,9.18612241579426C3.336977436548721,10.898143228183386,4.6235563803635715,12.932207328699324,4.880344101082393,14.831277070326788C5.088451335563201,16.370331005265616,4.810404480646178,18.036033015648705,5.5772944898283505,19.386542308290007C6.3282239771657345,20.708944789252048,7.866129294327046,21.315353975003312,9.08144183397844,22.229497753395652C10.11861973285362,23.009650753063337,11.249718272197436,23.589891657316212,12.255658381259355,24.409928969751512C13.587318546363848,25.495491632013564,14.318031095942878,27.519120721632166,16,27.869471538398003"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M383.311,466.06l-47.928-90.073c-4.556-8.563-15.193-11.809-23.754-7.254c-8.563,4.557-11.811,15.192-7.255,23.754 l34.139,64.683h-68.781c3.625-0.881,35.875-8.71,41.882-10.169l-24.204-45.488c-9.542-17.932-2.74-40.203,15.192-49.744 c5.366-2.856,11.12-4.238,16.805-4.306c-0.006-1.143-0.26-57.388-0.269-59.307c0,0-0.088,0-0.256,0 c-0.417-1.837,2.439,6.924-41.56-125.327l18.196-133.277c1.945-14.242-8.025-27.364-22.267-29.309 c-14.239-1.943-27.364,8.025-29.309,22.267l-19.015,139.272c-0.538,3.944-0.166,7.959,1.091,11.737l37.169,111.722l-19.05-36.316 l-51.126-34.541l4.105-111.204c0.53-14.364-10.685-26.439-25.049-26.97c-14.346-0.519-26.439,10.684-26.97,25.049l-4.638,125.643 c-0.331,8.98,3.993,17.497,11.439,22.527l80.23,54.204l0.6,163.595c0.058,12.682,9.956,24.501,25.293,24.431 c2.84,0.625-4.952,0,109.786,0c6.166,0,11.88-3.023,15.055-8.309C386.037,478.067,386.207,471.503,383.311,466.06z"
                ></path>
              </g>
            </g>
            <g>
              <g>
                <circle
                  cx="171.107"
                  cy="467.518"
                  r="44.479"
                ></circle>
              </g>
            </g>
          </g></svg
        >
        <span>
          Asanas (posturas): El núcleo de la clase de yoga son las asanas, o
          posturas de yoga. El instructor guía a los estudiantes a través de una
          serie de posturas que pueden variar en dificultad. Cada asana se lleva
          a cabo con una atención plena en la respiración y en la alineación del
          cuerpo.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-51.2 -51.2 614.40 614.40"
          xml:space="preserve"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-51.2, -51.2), scale(19.2)"
              d="M16,30.255011783145807C18.92117909027852,30.55856542334982,22.07465839065455,29.176940672543786,23.904729891930813,26.87992730946163C25.613771807863834,24.734824172109903,24.255292874127868,21.56475227760032,25.021764143631078,18.931348865033538C25.748680085215025,16.433847657379523,28.512383032297475,14.612470836580606,28.227797964049113,12.026947599923814C27.930790160311307,9.328560847733693,26.016730139174435,6.745422582959255,23.554616492218475,5.601962444017138C21.20201632168856,4.509362790384051,18.566675502649773,6.723158485851867,16,6.3480872531585835C12.65713532484222,5.859590607149434,9.670317101018464,1.616781857183655,6.650684754042507,3.131771526678598C3.7895901227706124,4.567220717758177,4.3461547482667084,9.005261891139327,4.323823334107317,12.206180224556398C4.306621137147902,14.671891855240732,5.681168100857948,16.762344011068386,6.5394633592679465,19.073914691506936C7.350734750202363,21.25884015018491,7.699625032567157,23.57317737342187,9.205072164618855,25.35241582352493C11.054386492025909,27.538059601772282,13.152293154624182,29.959092994042983,16,30.255011783145807"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M443.985,433.876c-2.328-14.913-16.304-25.117-31.217-22.79l-97.976,3.907V279.64c1.301-3.07-2.182,13.482,50.565-254.788 c2.219-11.288-5.132-22.236-16.42-24.457c-11.29-2.218-22.236,5.132-24.457,16.42l-26.236,133.434 c-7.061-16.344-23.32-27.786-42.256-27.786c-18.956,0-35.231,11.466-42.279,27.838L187.464,16.815 c-2.22-11.286-13.165-18.638-24.457-16.42c-11.288,2.219-18.638,13.169-16.42,24.457c52.741,268.238,49.26,251.737,50.6,254.865 v135.187l-97.976-3.818c-14.219-2.178-27.909,7.095-30.927,21.344c-3.128,14.766,6.307,29.273,21.074,32.401l32.446,6.873 c-3.78,4.738-5.866,10.845-5.366,17.365c1.051,13.699,13.016,23.91,26.656,22.857c118.845-9.119,110.983-8.451,112.895-8.8 c2.249,0.41,113.474,8.874,114.82,8.874c12.849,0,23.73-9.906,24.729-22.932c0.501-6.531-1.593-12.649-5.386-17.39l32.466-6.846 C436.712,461.832,446.234,448.284,443.985,433.876z M281.267,236.601H230.68l-6.943-35.315 c8.304,8.166,19.689,13.208,32.254,13.208c12.545,0,23.912-5.026,32.213-13.168L281.267,236.601z"
                ></path>
              </g>
            </g>
          </g></svg
        >
        <span>
          Respiración: En el yoga, la respiración desempeña un papel
          fundamental. Los estudiantes aprenden a coordinar su respiración con
          el movimiento y a utilizar la respiración consciente para profundizar
          en las posturas y liberar tensiones.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-51.2 -51.2 614.40 614.40"
          xml:space="preserve"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-51.2, -51.2), scale(19.2)"
              d="M16,29.396139953285456C19.280847340824398,29.121226584353984,20.754221975753335,25.40174367315036,23.21906377696444,23.219063776964443C25.997044454968133,20.759091467629094,31.154212822076076,19.71051857648721,31.127901159226894,16C31.101571040372587,12.286878724084216,25.98538835973794,11.24111820921135,23.11740244368431,8.882597556315693C20.738621309168586,6.926379988067008,19.031642964699614,4.102103546561441,16,3.5593993961811066C12.432294356616946,2.9207329428604147,7.741504371843403,2.731781904587428,5.778749583925061,5.778749583925057C3.8164681692841045,8.824982401686835,7.662662480612556,12.390925507425802,7.9861806984990835,15.999999999999998C8.250879059723792,18.952897397751364,5.938459152381873,21.99529116723817,7.460469997221097,24.5395300027789C9.208098234122879,27.460917616730345,12.607669066291738,29.680394912030913,16,29.396139953285456"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <circle
                  cx="235.584"
                  cy="60.926"
                  r="60.926"
                ></circle>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M392.708,442.023c-38.151-10.685-26.823-7.512-57.987-16.239c15.677-13.059,14.657-37.317-1.826-49.07l-84.163-60.013 l-9.373-111.497l22.788,65.428l-0.35-77.16c-0.126-27.805-22.769-50.244-50.574-50.118c-41.787,0.189-75.51,34.218-75.321,76.006 c0.012,2.725,0.904,199.467,0.918,202.395l0.244-0.001c0.879,7.042,3.837,13.642,8.426,18.948h-16.585 c-19.688,0-35.649,15.961-35.649,35.649c0,19.689,15.962,35.649,35.649,35.649h254.191c17.814,0,32.892-13.15,35.317-30.796 C420.837,463.555,409.862,446.826,392.708,442.023z M180.742,371.407c-11.692-8.337-16.948-22.366-14.73-35.635l14.762-87.351 l7.38,87.781c0.763,9.075,5.478,17.356,12.893,22.643l68.138,48.586C269.185,407.431,190.733,378.53,180.742,371.407z"
                ></path>
              </g>
            </g>
          </g></svg
        >
        <span>
          Relajación: Después de realizar una serie de posturas, la clase
          generalmente incluye un período de relajación o "Savasana", donde los
          estudiantes se acuestan en el suelo en posición de relajación total.
          Durante este tiempo, se les anima a liberar cualquier tensión restante
          y a relajarse profundamente.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="100px"
          width="100px"
          viewBox="-3.2 -3.2 38.40 38.40"
          xmlns="http://www.w3.org/2000/svg"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-3.2, -3.2), scale(1.2)"
              d="M16,29.973546741859003C18.644257534996235,30.627492656427194,21.820177712000234,30.002108836571644,23.788557958531268,28.119232745154257C25.72789690167214,26.264136436587922,24.84714448069729,22.989351142637133,25.88755542169218,20.515495260760154C26.8810160735994,18.153276275650423,30.240095481656446,16.536314326413713,29.714752721365542,14.028116251159148C29.179876212265597,11.474400216544947,25.23292634275847,11.451157030130577,23.568228311097833,9.442092837821676C21.84116166150293,7.357758203286965,22.230590799802478,3.8794144123130874,20.015939229355702,2.322967014428551C17.647653452802313,0.6585461711896021,14.19367377100208,-0.2620683259061747,11.605881993632167,1.035008379539578C8.981033420418791,2.3506590317330347,9.304847985442478,6.316659663238433,7.47193363787933,8.610388432167863C5.751991566360117,10.76274247728768,1.9745956883980966,11.211845088508435,1.3325698513088042,13.89114191593074C0.6971135216484058,16.543022930164337,2.6980876510841187,19.179570825435377,4.435682316651869,21.281246927680577C5.926634562166218,23.084601165627937,8.477250766957821,23.38929601913372,10.347671598185752,24.795194671254706C12.43248658384404,26.362242326692968,13.468193204861599,29.34741078942459,16,29.973546741859003"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier"
            ><path
              d="M 29 19.121094 C 29 21.207031 28.15625 26.574219 23.589844 26.574219 C 19.238281 26.574219 17.652344 22.730469 17.953125 21.339844 C 18.203125 21.765625 18.996094 23.957031 23.277344 23.957031 C 27.667969 23.957031 27.714844 19.078125 27.714844 19.078125 C 27.714844 19.078125 27.640625 15.617188 24.964844 15.617188 C 21.699219 15.617188 21.589844 20.808594 18.308594 20.808594 C 16.664063 20.808594 16.113281 19.9375 15.78125 19.699219 C 16.488281 21.894531 15.652344 27 10.277344 27 C 2.605469 27 3.003906 18.722656 3.003906 18.722656 C 3.003906 18.722656 4.289063 23.824219 10.144531 23.824219 C 13.714844 23.824219 14.183594 21.785156 14.183594 20.851563 C 14.183594 19.921875 13.472656 18.28125 10.277344 18.28125 L 9.578125 14.964844 C 9.578125 14.964844 10.523438 15.273438 11.691406 15.273438 C 13.230469 15.273438 13.582031 14.246094 13.582031 13.402344 C 13.582031 12.5625 12.757813 11.710938 11.25 11.710938 C 8.914063 11.710938 7.039063 14.109375 7.039063 14.109375 L 5.222656 10.738281 C 5.222656 10.738281 6.910156 8.5625 10.328125 8.5625 C 13.742188 8.5625 15.292969 11.359375 15.292969 13 C 15.292969 14.640625 14.527344 16 13.074219 16.769531 C 15.035156 17.691406 14.441406 18.367188 15.691406 18.367188 C 17.761719 18.367188 18.042969 16.675781 19.015625 15.140625 C 19.914063 13.730469 21.191406 12.46875 23.453125 12.46875 C 27.980469 12.46875 29 17.039063 29 19.121094 Z M 20.171875 11.980469 C 22.472656 11.980469 24.253906 10.648438 24.253906 10.648438 L 22.34375 7.277344 C 22.34375 7.277344 21.015625 9.140625 18.441406 9.140625 C 15.867188 9.140625 13.738281 6.789063 13.738281 6.789063 C 13.738281 6.789063 14.714844 11.980469 20.171875 11.980469 Z M 20.527344 6.613281 L 18.617188 4.570313 L 16.488281 6.433594 L 18.398438 8.609375 Z"
            ></path></g
          ></svg
        >

        <span>
          Meditación: Algunas clases de yoga incluyen una meditación guiada al
          final, donde los estudiantes pueden profundizar su práctica de
          atención plena y encontrar un estado de tranquilidad mental.
        </span>
      </li>

      <li class="flex flex-col sm:flex-row items-center gap-8">
        <svg
          class="min-w-[50px] text-primary"
          fill="currentColor"
          height="70px"
          width="70px"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-31.29 -31.29 375.43 375.43"
          xml:space="preserve"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
            ><path
              transform="translate(-31.29, -31.29), scale(11.7321875)"
              d="M16,31.478643637616187C19.401308172149736,31.110257120020965,20.851784290667524,27.10343562683707,23.42655644191268,24.85062532025311C25.912491230736208,22.675543726703577,30.187026426336516,21.855453044666568,30.723585907004317,18.59616544818378C31.26015611228553,15.336812705895698,27.418283034614603,13.221309895145742,25.81662069811719,10.332371397409592C24.165930495260003,7.355000720579834,24.38369402227429,2.8996529277028156,21.26476627727534,1.5351735344798403C18.138536171659606,0.16749947905301754,14.579470624737395,2.3401352918572234,11.687331490008422,4.151040651205124C9.306303294533704,5.641915231949556,8.341561136361548,8.348150160156314,6.720125814958227,10.642262141220268C4.84025503151292,13.302025395558069,1.4313561500487075,15.299437012234907,1.5064572426716776,18.555602634168736C1.5841860829418417,21.925699774980295,4.572573776154407,24.37670853015577,7.088643963966851,26.620140570828596C9.692373066787246,28.941732918607336,12.53184473130377,31.85427018400673,16,31.478643637616187"
              fill="#7ed0ec"
            ></path></g
          ><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <g>
              <path
                d="M146.216,0.146c-3.314-0.681-6.636,1.07-7.96,4.177l-48.22,113.148c-14.866,32.859-1.147,72.203,4.714,86.19l-57.86,47.961 c-1.478,1.225-2.397,2.996-2.549,4.909c-0.152,1.914,0.477,3.807,1.743,5.25l42.698,48.649c1.354,1.542,3.302,2.419,5.341,2.419 c0.12,0,0.24-0.003,0.36-0.009c2.169-0.11,4.168-1.205,5.428-2.974l60.574-85.014c0.857-1.203,1.318-2.644,1.319-4.121 l0.004-10.139c0.02-43.193,0.092-195.469,0.092-203.485C151.901,3.732,149.525,0.821,146.216,0.146z"
              ></path>
              <path
                d="M278.509,256.531c-0.151-1.914-1.071-3.685-2.549-4.909l-57.861-47.961c5.862-13.987,19.581-53.331,4.714-86.19 L174.593,4.323c-1.323-3.107-4.651-4.857-7.96-4.177c-3.309,0.675-5.685,3.586-5.685,6.963c0,8.016,0.072,160.292,0.092,203.485 l0.004,10.139c0.001,1.477,0.461,2.917,1.319,4.121l60.574,85.014c1.26,1.768,3.259,2.864,5.428,2.974 c0.121,0.006,0.241,0.009,0.36,0.009c2.04,0,3.988-0.877,5.341-2.419l42.698-48.649 C278.032,260.338,278.661,258.445,278.509,256.531z"
              ></path>
            </g>
          </g></svg
        >
        <span>
          Cierre: La clase concluye con un agradecimiento por la práctica y una
          reverencia tradicional llamada "Namaste". Los estudiantes suelen
          juntar las manos en el pecho y dicen "Namaste" como un gesto de
          respeto y gratitud hacia el instructor y los demás participantes.
        </span>
      </li>
    </ul>
  </header>

  <section class="py-8 bg-slate-100">
    <div class="container mx-auto px-4 lg:px-16">
      <h3 class="text-2xl text-center text-primary">Clases presenciales</h3>
      <article class="flex flex-col md:flex-row items-center py-8 gap-8">
        <div class="mx-auto w-full md:w-1/3 h-[300px]">
          <img
            class="w-full h-full object-contain"
            src={clasesPresenciales.src}
            alt="Imagen clases presenciales"
          />
        </div>
        <div class="w-full md:w-2/3">
          <p>
            Sumérgete en la tranquilidad y revitaliza tu cuerpo y mente con
            nuestras clases de yoga y sesiones de shiatsu.
          </p>
          <p class="py-4">
            Nuestros instructores te guiarán a través de prácticas que promueven
            la armonía y el bienestar.
          </p>
          <table
            class="w-fit bg-slate-50 border border-gray-300 rounded-lg shadow text-center mx-auto"
          >
            <thead class="bg-teal-50 text-base font-normal">
              <tr>
                <th class="py-2 px-4">Clase</th>
                <th class="py-2 px-4">Días</th>
                <th class="py-2 px-4">Horarios</th>
              </tr>
            </thead>
            <tbody>
              {
                lessons.map((lesson) => (
                  <tr class="bg-transparent border-b border-gray-300">
                    <td class="py-2 px-4">{lesson.type}</td>
                    <td class="py-2 px-4">{lesson.days}</td>
                    <td class="py-2 px-4">{lesson.hours}</td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </article>

      <h3 class="text-2xl text-center text-primary py-8">Clases on-line</h3>
      <p>
        ¿Estás interesado en practicar yoga de forma conveniente y efectiva
        desde la comodidad de tu hogar? Ofrezco clases en línea personalizadas
        para ayudarte a alcanzar tus objetivos.
      </p>
      <p class="pt-8">
        Si estás listo para comenzar o tienes alguna pregunta, no dudes en
        contactarme. Estoy aquí para ayudarte a aprender y crecer juntos en esta
        emocionante aventura de aprendizaje en línea. ¡Contactame por
        <a
          href={networks.whatsapp}
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-whatsapp text-[#25D366] inline-block"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"
            ></path>
          </svg>
        </a>
         o
        <a
          href="/hathayogaloberia/contacto#contact-form"
          class="underline"
          >enviame un mensaje</a
        >!
      </p>
    </div>
  </section>
</Layout>

<!-- <style>
  .rect-left {
    position: absolute;
    overflow: hidden;
    top: 100px;
    left: -80px;
    height: 50px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(110, 31, 131, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: rotate(-25deg);
  }
</style> -->
