---
import SocialNetworks from '@components/SocialNetworks/SocialNetworks.astro';
import { getOffices } from '@services/offices';
import { Icon } from 'astro-icon';

import namaste from '@assets/images/footer/namaste.svg';

const offices = await getOffices();
---

<footer class="w-full bg-slate-950 text-white">
  <div
    class="flex flex-col lg:flex-row lg:justify-around justify-center items-start p-10 gap-8 max-w-[1440px] mx-auto"
  >
    <!-- LEFT -->
    <div class="flex flex-col text-center w-full lg:w-1/5 h-full">
      <a href="#menu">
        <h2 class="text-slate-200 text-2xl font-semibold">
          Hatha Yoga <span class="text-pink-100">Lobería</span>
        </h2>
      </a>
      <div class="pt-8">
        <img
          class="mx-auto"
          width="30"
          height="30"
          src={namaste.src}
          alt="Imagen namaste"
        />
        <p class="text-slate-200">Namasté</p>
      </div>
    </div>
    <hr
      class="lg:hidden w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
    />

    <!-- CENTER -->
    <div
      class="flex flex-col justify-center items-center gap-4 w-full lg:w-2/5"
    >
      <h2 class="pb-4 text-center text-xl font-semibold">LINKS</h2>
      <p>Acerca de mi</p>
      <p>Clases</p>
      <p>Blog</p>
      <p>Contacto</p>
    </div>

    <hr
      class="lg:hidden w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
    />

    <!-- RIGHT -->
    <div
      class="flex flex-col gap-4 items-center justify-between w-full lg:w-2/5"
    >
      <h2 class="pb-4 text-center text-xl font-semibold">SIGUENOS</h2>

      <SocialNetworks />

      <div class="flex flex-col gap-4">
        <div class="flex gap-4 justify-start">
          <Icon
            name="mdi:map-marker"
            class="w-6 h-6"
          />

          {offices[0].address}, {offices[0].city}. CP: {offices[0].cp}
        </div>

        <div class="flex gap-4 justify-start">
          <Icon
            name="mdi:phone"
            class="w-6 h-6"
          />
          <p>{offices[0].phone}</p>
        </div>

        <div class="flex gap-4 justify-start">
          <Icon
            name="mdi:email"
            class="w-6 h-6"
          />
          <p>{offices[0].email}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center p-1 bg-slate-900">
    <small
      >&copy; 2023 <b>HathaYogaLobería</b> - Todos los derechos reservados.</small
    >
  </div>
</footer>

<style></style>
